@import "tailwindcss";

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scroll-snap-x {
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.scroll-snap-item {
  scroll-snap-align: start;
}
